.slick-dots li button::before {
    font-family: 'slick';
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .5;
    color: #93A3BC;
    -webkit-font-smoothing: antialiased;
}

.slick-dots li button::before:hover {
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #244D4D;
}

.slick-nexts {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}